@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-stalker: "Stalker", sans-serif;
  --font-calibri: "Calibri", sans-serif;
  --font-roboto_condensed: "Roboto Condensed", sans-serif;
  --font-roboto: "Roboto";

  --color-light_white: #a8a3a0;
  --color-dark_white: #7b7b7a;
  --color-light_gray: #ebeae8;
  --color-active_white: #bfbcb7;
  --color-border: #403e3c;
  --color-light_black: #1d1c1a;
  --color-black: #11100e;
  --color-black_secondary: #0a0a09;
}

.clip_startBtn {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.bg-custom-gradient {
  background: linear-gradient(to top, #898883, #BFBFBA, #C9C2B2, #BFBFBA, #898883);
}

.bg-custom-gradient_second {
  background: linear-gradient(to top, #837f7c, #c9c2b2, #c9c2b2, #837f7c);
}


* {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
}
